/*Main*/
.no-padding{
    padding: 0px !important;
}

.no-margin{
    margin: 0px !important;
}

/*Main header*/
#heading{
    text-align: center;
}

#heading h1{
    padding: 10px;
    font-family: 'Playball', sans-serif;
}

/*navbar*/
#navbar-list{
    width: 100%;
}